---
import Layout from '@/layouts/Layout.astro';
import TeamCarousel from '@/components/TeamCarousel.astro';
import LeaderBoard from '@/components/LeaderBoard.astro';
import LastMatch from '@/components/LastMatch.astro';
import Calendar from '@/components/Calendar.astro';
---

<Layout>
  <section>
    <div class="relative w-fit">
      <img id="field-img" src="/images/team-bg.png" alt="Imagen de fondo" class="block w-dvw aspect-[1280/853]" />
      <h1
        id="team-name"
        class="absolute top-1/7 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-2xl md:text-6xl lg:text-9xl"
      >
        Real Tajo F.C
      </h1>
      <img src="/images/team-without-bg.png" alt="Foto equipo Real Tajo CF" class="absolute top-0 left-0 w-full h-full" />
    </div>
  </section>

  <TeamCarousel />

  <LastMatch />

  <LeaderBoard />

  <Calendar />
</Layout>

<style>
  #field-img {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  }

  #team-name {
    animation-duration: 3s;
    animation-name: slide-in;
  }

  @keyframes slide-in {
    from {
      transform: translateY(2em);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
