---
import Layout from '@/layouts/Layout.astro';
import TeamCarousel from '@/components/TeamCarousel.astro';
import LeaderBoard from '@/components/LeaderBoard.vue';
import TopScorers from '@/components/TopScorers.vue';
import LastMatch from '@/components/LastMatch.vue';
import Calendar from '@/components/Calendar.vue';
import Hero from '@/components/Hero.astro';
import Footer from '@/components/Footer.astro';
import Gallery from '@/components/Gallery.astro';
---

<Layout>
  <Hero />

  <TeamCarousel />

  <div class="max-w-7xl mx-auto">
    <LastMatch client:only="vue">
      <template #fallback>
        <div>Cargando último resultado...</div>
      </template>
    </LastMatch>

    <LeaderBoard client:only="vue">
      <template #fallback>
        <div>Cargando clasificación...</div>
      </template>
    </LeaderBoard>

    <TopScorers client:only="vue">
      <template #fallback>
        <div>Cargando estadísticas de goleadores...</div>
      </template>
    </TopScorers>

    <Calendar client:only="vue">
      <template #fallback>
        <div>Cargando calendario...</div>
      </template>
    </Calendar>
  </div>

  <Gallery />

  <Footer />
</Layout>
