---
import Layout from '@/layouts/Layout.astro';
import TeamCarousel from '@/components/TeamCarousel.astro';
import LeaderBoard from '@/components/LeaderBoard.vue';
import LastMatch from '@/components/LastMatch.astro';
import Calendar from '@/components/Calendar.vue';
import NextMatch from '@/components/NextMatch.astro';
import Hero from '@/components/Hero.astro';
---

<Layout>
  <Hero />

  <TeamCarousel />

  <div class="max-w-7xl mx-auto">
    <LastMatch />

    <NextMatch />

    <LeaderBoard client:only="vue">
      <template #fallback>
        <div>Cargando clasificación...</div>
      </template>
    </LeaderBoard>

    <Calendar client:only="vue">
      <template #fallback>
        <div>Cargando calendario...</div>
      </template>
    </Calendar>
  </div>
</Layout>
