---
const players = [
  { name: 'Cotinho', image: '/images/players/coti.webp' },
  { name: 'Cotinho', image: '/images/players/coti.webp' },
  { name: 'Cotinho', image: '/images/players/coti.webp' },
  { name: 'Cotinho', image: '/images/players/coti.webp' },
  { name: 'Cotinho', image: '/images/players/coti.webp' },
  { name: 'Cortés', image: '/images/players/cortes.webp' },
  { name: 'Cortés', image: '/images/players/cortes.webp' },
  { name: 'Cortés', image: '/images/players/cortes.webp' },
  { name: 'Cotinho', image: '/images/players/coti.webp' },
  { name: 'Koke', image: '/images/players/koke.webp' },
  { name: 'Koke', image: '/images/players/koke.webp' },
  { name: 'Koke', image: '/images/players/koke.webp' },
  { name: 'Koke', image: '/images/players/koke.webp' },
  { name: 'Marín Jr', image: '/images/players/marinjr.webp' },
  { name: 'Marín Jr', image: '/images/players/marinjr.webp' },
  { name: 'Marín Jr', image: '/images/players/marinjr.webp' }
];
---

<script>
  import Swiper from 'swiper';
  import { Autoplay } from 'swiper/modules';

  const initSwiper = () => {
    new Swiper('.mySwiper', {
      modules: [Autoplay],
      loop: true,
      spaceBetween: 40,
      slidesPerView: 'auto',
      centeredSlides: true,
      autoplay: {
        delay: 0,
        disableOnInteraction: false,
        pauseOnMouseEnter: true
      },
      speed: 3000
    });
  };

  window.addEventListener('load', initSwiper);
  window.addEventListener('resize', () => {
    const swiperElement = document.querySelector('.mySwiper') as any;
    if (swiperElement?.swiper) swiperElement.swiper.destroy(true, true);
    initSwiper();
  });
</script>

<div class="swiper mySwiper mt-5">
  <div class="swiper-wrapper">
    {
      players
        .slice()
        .sort(() => Math.random() - 0.5)
        .map((player) => (
          <div class="swiper-slide border-5 border-primary rounded-3xl shadow-xl bg-white max-w-[200px] md:max-w-[400px] aspect-[3/4] relative overflow-hidden">
            <img src={player.image} alt={player.name} class="w-full h-full object-cover" />
            <div class="player-info absolute bottom-0 left-0 right-0 h-[33%] flex items-end justify-center pb-3">
              <div class="text-sm md:text-5xl text-white text-center font-bold mb-5">{player.name}</div>
            </div>
          </div>
        ))
    }
  </div>
</div>

<style>
  .player-info {
    background: linear-gradient(to top, var(--color-primary) 10%, transparent 100%);
  }

  @media (width <= 768px) {
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
    }
  }
</style>
