---
import '@/global.css';
import '@fontsource/graduate';
const { title = 'Real Tajo C.F.' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Real Tajo Club de Fútbol - Página Oficial" />
    <link rel="icon" type="image" href="/escudo.avif" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Graduate', serif;
  }
</style>
