---
import '@fontsource/graduate';
const { title = 'Real Tajo C.F.' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Real Tajo Club de Fútbol - Página Oficial" />
    <link rel="icon" type="image" href="/escudo.avif" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import 'tailwindcss';
  @import 'swiper/css';
  @import 'swiper/css/navigation';
  @import 'swiper/css/pagination';

  @theme {
    --color-primary-50: #edf0fd;
    --color-primary-100: #d0dafb;
    --color-primary-200: #a1b7f7;
    --color-primary-300: #7299f3;
    --color-primary-400: #367dee;
    --color-primary-500: #2b65c3;
    --color-primary-600: #204f9a;
    --color-primary-700: #153a75;
    --color-primary: #0c2752;
    --color-primary-900: #06193a;
    --color-primary-950: #031029;
    --color-secondary: #cfa43c;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Graduate', serif;
  }
</style>
